#define IDD_DIALOG 1000
#define IDC_EDT_GET_NAME_PROC 1001
#define IDC_BTN_FREEZ 1002
#define IDC_EDT_SEND_INFO_PROC 1003
#define IDC_EDT1 1004
#define IDC_TEXT_INFO_GET_PROC 1005
#define IDC_BTN_RUN 1006
#define IDC_TEXT_INFO_FREZ_PROC 1007
#define IDC_EDT_SEARCH_FREQUENCY 1008
#define IDC_EDT_DELAY_AFTER_DETECTION 1009
#define IDC_TEXT_DELAY_AFTER_DETECTION 1010
#define IDC_TEXT_SEARCH_FREQUENCY 1011
IDD_DIALOG DIALOGEX 6,6,338,334
CAPTION "StopChildProc"
FONT 8,"MS Sans Serif",0,0
CLASS "DLGCLASS"
STYLE 0x10CF0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_EDT_GET_NAME_PROC,"Edit",0x50010000,4,16,248,15,0x00000200
  CONTROL "Freezing",IDC_BTN_FREEZ,"Button",0x50010000,258,16,78,15,0x00000000
  CONTROL "",IDC_EDT_SEND_INFO_PROC,"Edit",0x50310004,4,88,330,227,0x00000200
  CONTROL "",IDC_EDT1,"Edit",0x50210004,317,97,0,0,0x00000200
  CONTROL "Enter the process name (format: name.exe)",IDC_TEXT_INFO_GET_PROC,"Static",0x50000000,6,1,190,9,0x00000000
  CONTROL "Running",IDC_BTN_RUN,"Button",0x50010000,258,0,78,15,0x00000000
  CONTROL "Freezing processes:",IDC_TEXT_INFO_FREZ_PROC,"Static",0x50000000,4,73,190,11,0x00000000
  CONTROL "",IDC_EDT_SEARCH_FREQUENCY,"Edit",0x50010000,4,35,52,15,0x00000200
  CONTROL "",IDC_EDT_DELAY_AFTER_DETECTION,"Edit",0x50010000,4,53,52,15,0x00000200
  CONTROL "delay after detection (ms)",IDC_TEXT_DELAY_AFTER_DETECTION,"Static",0x50000000,60,55,128,11,0x00000000
  CONTROL "process search frequency (ms)",IDC_TEXT_SEARCH_FREQUENCY,"Static",0x50000000,60,36,126,11,0x00000000
END
